certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.18
python-dotenv==1.2.2
requests==2.34.2
urllib3==2.7.0
google-auth==2.40.2
google-auth-oauthlib==1.2.2
google-api-python-client==2.176.0
plotly==6.8.0
folium==0.20.0
